<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo7v3vUW2msrFL_LhgBajRlT2iyJNL1tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>668885663352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aoi.Pencula</string>
	<key>PROJECT_ID</key>
	<string>pencula-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>pencula-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668885663352:ios:cfc530fbb5335c2bb5378d</string>
</dict>
</plist>